body {
  font-size: 25px;
  background-color: #f4edea;
}

.nav-bar {
  display: flex;
  height: 50px;
  background-color: #12263a;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: #c5d8d1;
}
img {
  height: 1200px;
  width: auto;
}

/*
Color palette
https://coolors.co/palette/12263a-06bcc1-c5d8d1-f4edea-f4d1ae
*/
