body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  background-color: #f4edea;
  border: 1px solid red;
}

div {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #12263a;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  font-size: 26px;
  flex-wrap: wrap;
  color: #f4d1ae;
  text-decoration: none;
}
.main-text {
  display: flex;
}
.first-text {
  position: absolute;
  left: -10%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: #c5d8d1;
  -webkit-text-stroke: 3px #f4d1ae;
  transform: rotate(-90deg);
}
/*
Color palette
https://coolors.co/palette/12263a-06bcc1-c5d8d1-f4edea-f4d1ae
*/
